body {
  background-color: rgb(38, 126, 202);
  text-align: center;
  color: whitesmoke;
}

* {
  text-align: initial;
}

h1, h2, .footer {
  background-color: rgb(8, 68, 121);
  padding-top: .2rem;
  padding-right: 1rem;
  padding-left: 1rem;

  margin-top: -.5rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

h1, h2 {
  
  border-bottom: 4px solid whitesmoke;
  padding-bottom: 0;

  margin-bottom: 1rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4em;

  text-align: initial;
}

h3 {
  font-size: 1rem;
}

.footer {
  display: block;
  text-align: center;
  border-top: 4px solid whitesmoke;
  padding-bottom: 1rem;
  margin-bottom: -5rem;
}

h2 {
  font-size: 2em;
  margin: .2em -8px ;
}

p {
  background-color: rgb(0, 92, 128);
  margin: -8px;
  padding:  .1em 2em;
  line-height: 1.8em;
}

a {
  color: rgba(240, 248, 255, 0.85);
}

a:visited { 
  color: rgb(130, 154, 200);
}

li {
  transition: .25s linear;
}

li:has(a):hover {
  transform: translateX(.5rem);
}

li a {
  color: rgba(240, 248, 255, 0.85);
}

li a:hover {
  color: rgb(240, 248, 255);
}
li a:visited { 
  color: rgb(150, 174, 220);
}

ul {
  list-style: none;
  padding-left: 1.2em;
}

ol {
  padding-left: 2em;
}
ol p {
  padding-left: 1em;
}


img {
  box-sizing: border-box;
  display: block;
  background-color: aliceblue;
  max-height: 480px;
  width: auto;
  border: 5px solid black;
  margin: auto;
  padding: 5px;
}


ol p {
  background-color: transparent;
}

main {
  margin: 16px;
  padding: 16px;
 background-image: linear-gradient(#00000060, #00000060);
}